
</div>

  <div class="footer">

    <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6">
                <p>Get connected with us on social networks:</p>
                <i class="bi bi-twitter-x" src="/public/imgs/twitter-x.svg"></i>
            </div>
            <div class="col-lg-6">
                <p>Company name</p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright: 
    </div>
</footer>


    <p>Thank You For Visiting</p>

  </div>
</div>
</body>
</html>
